<div class="alert alert-warning">
    <h3><span class=".glyphicon .glyphicon-question-sign"></span> Are you sure you want to restore <strong>@Model.BackupFile</strong> and override database 
        <strong>@Model.TargetDatabase</strong> on <strong>@Model.TargetInstance</strong>?
    </h3>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Files to be restored</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <caption></caption>
            <thead>
                <tr>
                    <th>Logical Name</th>
                    <th>Logical Name in target DB</th>
                    <th>Physical path in target DB</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model.FilesLists)
                {
                    <tr>
                        <td>@file.BackupLogicalName</td>
                        <td>@file.TargetLogicalName</td>
                        <td>@file.TargetPhysicalPath</td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Script executed after the restore (<a href="file:@Model.ScriptsRootPath">@Model.ScriptsRootPath</a>)  </h3>
    </div>
    <div class="panel-body">
        <ol>
           @foreach (var script in Model.ScriptsToExecute)
           {
               <li><a href="file:@script.Replace('\\','/')">@script</a></li>
           }
        </ol>
    </div>
</div>


<form action="~/Restore" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="TargetDatabase" id="TargetDatabase" value="@Model.TargetDatabase"/>
    <input type="hidden" name="TargetInstance" id="TargetInstance" value="@Model.TargetInstance"/>
    <input type="hidden" name="BackupFile" id="BackupFile" value="@Model.FullBackupFile"/>
    <div class="form-group" style="display: none;">
        <label for="Additional script">Upload additional script to execute</label>
        <input type="file" name="myfiles" multiple="multiple" />
        <div class="alert alert-info">
            <span class="glyphicon .glyphicon-info-sign"></span>Multiple files is not supported on IE 9 and under
        </div>
    </div>
    <button type="button" id="btn-submit" class="btn btn-lg btn-danger" data-loading-text="Request sent...">Confirm Restore</button>
    <a href="~/" class="btn btn-default">Cancel</a>
    
</form>

<script type="text/javascript">
    

    $(function() {

        $("#btn-submit").click(function () {
            var btn = $(this);
            btn.button('loading');
            var restoreDatabase = $.connection.restoreDatabase;
            
            restoreDatabase.server.restore($("#BackupFile").val(), $("#TargetInstance").val(), $("#TargetDatabase").val());
           
        });
    })
</script>